.genrebutton{
    margin-top:20px;
    display:flex;
    flex-direction: row;
    margin-bottom:20px;
    cursor: pointer;
}

.drama {
    margin-left: 20px;
    margin-right: 10px;
}

.action{
    margin-left:10px;
    margin-right:10px;
}
.horror{
    margin-left: 10px;
    margin-right: 10px;
}
.thriller{
    margin-left: 10px;
    margin-right: 10px;
}
.crime {
    margin-left: 10px;
    margin-right: 10px;
}
.adventure {
    margin-left: 10px;
    margin-right: 10px;
}
.family {
    margin-left: 10px;
    margin-right: 10px;
}
.comedy {
    margin-left: 10px;
    margin-right: 10px;
}

.movieslist {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}